.header {
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid rgba(226, 226, 182, 0.1);
  background: linear-gradient(
    180deg,
    rgba(6, 100, 212, 0.1) 0%,
    rgba(2, 81, 174, 0.1) 100%
  );
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo {
  color: #e2e2b6;
  font-family: Handjet;
  font-size: 1rem;
  font-weight: 300;
}

.currentItem,
.time,
.date {
  color: #e2e2b6;
  font-family: Handjet;
  font-size: 1rem;
  font-weight: 200;
}

.rightSide {
  display: flex;
  gap: 1rem;
}
