* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2; */
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background: linear-gradient(180deg, #021526 0%, #000c17 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
}
